# Environment Variables Example
# Copy this file to .env and update the values

# Django Settings
SECRET_KEY=django-insecure-69&*l)e4sc_4mzg&tb^w1_@b4&f%5r04*u88!p2)ge6*pro^ll
DEBUG=True

# Database Configuration (Defaults to SQLite in settings.py for easiest local setup)
# If you wish to use PostgreSQL, update DATABASES in settings.py accordingly.
DB_NAME=pet_vaxx_planner
DB_USER=postgres-user
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=5432
